DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=meusite.com.br,www.meusite.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://meusite.com.br,https://www.meusite.com.br
DJANGO_HTTPS=True
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_PERMITIR_CADASTRO=True
DJANGO_UPLOAD_MAX_MB=20
